*{
    margin: 0px;
    padding: 0px;
}


.nav-blink{
    height: 86px;;
    border-bottom: 1px solid rgb(238, 238, 238);
    position: sticky;
    top:0px;
    background-color: white;
}

.verticle-line{
    height: 100%;
    border-left:1px solid rgb(238, 238, 238);
}

.location>p{
    font-size: 13px;
    font-weight: 400;
}

.search{
    background-color: #f8f8f8;
    border: 1px solid rgb(238, 238, 238);
    padding: 10px;
    width: 40vw;
    border-radius: 15px;
}
.search>input{
    border: none;
    width: 95%;
    font-size: 14px;
    background-color: transparent;
    color: rgb(153, 153, 153);
    
}

.search>input:focus{
    outline: none;
}


.scrollable-div{
    overflow-x: auto;
    width: 90vw;
    margin-inline: auto;
    


}
.list{
    white-space: nowrap;
    margin-inline: auto;
    width: 100%;
}
.list>div{
    display: inline-block;
    margin: 10px;
}

.mycat{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 85vw;
    margin-inline: auto;
    margin-top: 40px;
}
.mycat-div{
    margin-inline: auto;
    width: 85vw;
    justify-content: center;
    overflow-x: auto;

}

.my-card{
    width: 190px;
    box-sizing: border-box;
        flex-direction: row;
        margin: 10px;
        overflow-x: auto;
}

.time-taken{
    font-size: 9px;
    font-weight: 700;
    color: rgb(54, 54, 54); 
    width: fit-content;
    padding: 3px 3px;

}

.product-name{
    color: rgb(31,31,31);
    font-weight: 600;
    font-size: 13px;
    width: 100%;
    margin-bottom: 6px;
    
}

.product-weight{
    height: 13px;
    color: #666666;
    font-size: 9px;
}

.product-price{
     color: rgb(31,31,31);
    font-weight: 600;
    font-size: 12px;
    
  
}
.mycat-row{
    flex-wrap: wrap;
    white-space: nowrap;

}
